@import 'tailwindcss';
@theme {
	--sidebar-width: 15rem;

	--color-primary: #ad2528;
	--color-bg: #191b28;
	--color-border: #2a3439;

	--spacing-layout: 2rem;
}

@layer utilities {
	/* Скрытый сайдбар */
	.hidedSidebar > aside {
		width: 3.8rem;
		flex-grow: 0;
	}

	.hidedSidebar > aside > nav > div:first-child {
		opacity: 0;
		transition: opacity 0.35s;
	}

	.hidedSidebar > div {
		width: 100%;
	}

	/* Показанный сайдбар */
	.showedSidebar > aside {
		width: var(--sidebar-width);
	}

	/* Начальное состояние сайдбара с анимацией */
	.initialSidebar > aside {
		transition: width 0.35s;
	}

	/* Старые классы для обратной совместимости */
	.sidebar-hidden aside {
		width: 3.8rem;
		flex-grow: 0;
	}

	.sidebar-shown aside {
		width: var(--sidebar-width);
	}

	.content-expanded div {
		@apply w-full;
	}
}