@import 'tailwindcss';
@theme {
	--sidebar-width: 15rem;

	--color-primary: #ad2528;
	--color-bg: #191b28;
	--color-border: #2a3439;

	--spacing-layout: 2rem;
}

@layer utilities {
	/* Скрытый сайдбар */
	.hidedSidebar > aside {
		width: 3.8rem;
		flex-grow: 0;
	}

	.hidedSidebar > aside > nav > div:first-child {
		opacity: 0;
		transition: opacity 0.35s;
	}

	.hidedSidebar > div {
		width: 100%;
	}

	/* Показанный сайдбар */
	.showedSidebar > aside {
		width: var(--sidebar-width);
	}

	/* Начальное состояние сайдбара с анимацией */
	.initialSidebar > aside {
		transition: width 0.35s;
	}
	.gridClass{
		@apply grid grid-cols-1 gap-6
		sm:grid-cols-2 sm:gap-6
		md:grid-cols-3
		lg:grid-cols-4
		xl:grid-cols-5
		2xl:grid-cols-6;
	}
}